body {
    margin:2em;
background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #B1AC9C;
	   -moz-box-shadow: 0 8px 6px -6px #B1AC9C;
	        box-shadow: 0 8px 6px -6px #B1AC9C;
}